/* ---------------- pseudo elements (::) ------------------- */


p::first-letter{
    font-size: 50px;
    color: red;
}

p::first-line{
    color: green;
}

li::before{
    /* content: "hello "; */
    content: '\1F605';
}

/* U+1F605 => unicodes */

li::after{
    content: " hello";
}

span::after{
    content: '\1F605';
}