*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


div{
    width: 500px;
    border: 5px solid red;
    background-color: lightgreen;
    margin: 100px auto;
    padding: 20px;
}

h1{
    color: red;
    text-align: center;
    font-size: 50px;
}

/* @media screen and (max-width:900px) {
    div{
        background-color: lightsalmon;
        border: 5px solid purple;
    }
    h1{
        color: blue;
        font-size: 20px;
    }
    p{
        font-family: cursive;
    }
}  */

/* @media screen and (min-width:700px) { */
/* @media screen and (max-width:700px) {
    div{
        background-color: lightsalmon;
        border: 5px solid purple;
    }
    h1{
        color: blue;
        font-size: 20px;
    }
    p{
        font-family: cursive;
    }
}  */


/* @media screen and (min-width:700px) {
    div{
        background-color: lightsalmon;
        border: 5px solid purple;
    }
    h1{
        color: blue;
        font-size: 20px;
    }
    p{
        font-family: cursive;
    }
}  */

/* @media screen and (min-width:900px) {
    div{
        background-color: lightsalmon;
        border: 5px solid purple;
    }
    h1{
        color: blue;
        font-size: 20px;
    }
    p{
        font-family: cursive;
    }
}  */

/* -------------------------------------------------- */

/*  orientation  */
/* portrait  -> H > W */
/* landscape -> W > H */

/* @media screen and (orientation:portrait){} */

/* @media screen and (orientation:landscape){
    h1{
        font-size: 100px;
        color: green;
    }
} */


/* -------------------------------------------- */

@media screen and (orientation:landscape) , (max-width:700px){
    h1{
        font-size: 100px;
        color: green;
    }
}